@model DemoViewModel

@section styles {
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/codemirror.min.css">
}

@using (Html.BeginForm("Test", "Demo")) {
  <div class="code-wrapper">
    <textarea name="code">@Model.Code</textarea>
  </div>
  <button type="submit">Run</button>
}
<pre>@if (Model.Duration != null) {<text>
Duration: @((int)Model.Duration.Value.TotalMilliseconds)ms
Result: @Model.Result
</text>}</pre>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/mode/clike/clike.js"></script>
<script>
  'use strict';
  CodeMirror.fromTextArea(document.getElementsByTagName('textarea')[0], {
    mode: 'text/x-csharp',
    indentUnit: 4
  });
</script>